<h1 align="center">About</h1>
<h3>President: Jerry Hall</h3>
<h3>Vice President: Ben Cheung</h3>
<h3>Treasurer: Jeffrey Kwok </h3>
<h3>Social Coordinator : Shaqil Rahemtulla</h3>

<img src="/assets/bcs-exec-photo.jpg"  style="max-width: 100%; display: block;
  margin-left: auto; margin-right: auto;" alt="">
