<h1 align="center">About</h1>
<h2>President: Jerry Hall</h2>
<h2>Vice President: Ben Cheung</h2>
<h2>Treasurer: Jeffrey Kwok </h2>
<h2>Social Coordinator : Shaqil Rahemtulla</h2>

<img src="/assets/bcs-exec-photo.jpg" height="500" width="665"  style="display: block;
  margin-left: auto; margin-right: auto;" alt="">
