<html>
<h1 align='center' style='margin-bottom: .5em; text-shadow: 2px 2px black'>
  Contact Us</h1>
<p>To reach us, please send any comments
  or questions to bcs-exec@cs.ubc.ca. Thanks!</p>
</html>
