<html>
<h1 align='center' style='margin-bottom: .5em;'>
  Working Title - Contact Form</h1>
<p>We represent students currently completing the Bachelor
  of Computer Science degree at the University of British Columbia. </p>
<h2 align='left' style='margin-bottom: .5em;'>
    Mission Statement</h2>
<p>Our goal is to foster a welcoming community for incoming and current students.
  We strive to improve the student experience and enrich the BCS community. </p>
</html>
