<html>
  <h1 align=center style= 'font-size:50px ;  style=margin-bottom: .5em; color:antiquewhite; text-shadow: 2px 2px black;'>
  Welcome to the BCS Student Association Website! </h1>
<p align=center style= 'font-size:16px ;color:antiquewhite; text-shadow: 1px 1px black;'>
  We represent students currently completing the Bachelor
  of Computer Science degree at the University of British Columbia.
</p>
<h2 align='left' style='margin-bottom: .5em; color:antiquewhite; text-shadow: 2px 2px black;'>
    Mission Statement:</h2>
<p>Our goal is to foster a welcoming community for incoming and current students.
  We strive to improve the student experience and enrich the BCS community. </p>

  <img src="/assets/UBC.jpg" height="400" width="720"  style="display: block;
  margin-left: auto;
  margin-right: auto;" alt="">
</html>
